@use 'sass:color'

.dashboard
	max-width: 26em
	margin: 8em auto

	&__header
		display: flex
		justify-content: space-between
		align-items: center

	&__notes-list
		list-style-type: none
		padding-left: 0
